* {
    margin: 0;
    padding: 0;
}

h1, h3 {
    color: white;
    line-height: 1
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 0;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;

}

.hero {
    background-image: url('../Static/background.jpg');
    background-size: cover;
    background-position: center;
    width: 100wh;
    height: 100vh;
    display: flex;
    background-attachment: fixed;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto
}

.column-content {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    flex-direction: column;
    padding: 20px;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    .column-content {
        flex-direction: column;
    }
}

