@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 3px white solid;
    color: black;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    min-height: 75px;
    padding: 0 10px 0 10px;
    flex-wrap: wrap-reverse;
}

main {
    background: #FFFFFF;
    flex: 1;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #EEEEEE;
}

.site-content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#menu-panel {
    flex:1;
    display: flex;
    justify-content: flex-end;
    order: 2;
}

#time-tracking-panel {
    flex:2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    order: 1;

    #tracking-button-in-panel {
        flex: 1;
        margin-right: 20px;
    }

    #task-description-in-panel {
        flex: 5;
        margin-right: 20px;
    }

    #task-time-in-panel {
        flex: 1;
    }
}

@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    #time-tracking-panel {
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
}


