.table-wrapper {
    padding: 50px;
}

.column-style {
    width: 70px;
}

@media screen and (max-width: 550px) {
    .table-wrapper {
        padding: 5px;
    }
    .column-style {
        width: 50px;
    }
}
